---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Always
---
Language: Cpp
# Force pointers to the type for C++.
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
TabWidth: 4
UseTab: Never
---
Language: JavaScript
# Use 100 columns for JS.
ColumnLimit: 100
---
